@import '@variables'

.section
    margin: 100px auto 0
    display: grid
    grid-template-columns: 1fr 2fr
    gap: 80px
    max-width: 100%

.slogan
    background: $lh-bl
    font-size: 48px
    font-weight: 900
    padding: 2em
    color: #fff

.form
    padding: 80px 80px 0 0

.input_row
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 24px
    align-items: center
    justify-content: space-between
    margin-bottom: 30px

.input_block
    display: flex
    flex-direction: column
    gap: 12px

.input
    border-bottom: 1px solid $lh-bl
    width: 100%
    padding-bottom: 20px
    min-width: 100%

.btn
    max-width: 200px
    margin-top: 100px
    padding: 18px 0
    width: 100%