.page
    width: 100vw
    height: 100vh
    display: flex
    flex-direction: column
    gap: 40px
    align-items: center
    justify-content: center
    margin: 0 auto
    padding: 0 30px
    position: fixed
    left: 0
    top: 0
    left: 0
    bottom: 0
    background: #fff
    z-index: 7

.image
    max-width: 1000px
    img
        width: 100%

.text
    color: #AAB2C8
    text-align: center
    font-size: 24px
    font-weight: 600
    span
        color: #002
