@import '@variables'

::-webkit-scrollbar
    width: 5px

::-webkit-scrollbar-track
    background: transparent
    padding: 0 2px

::-webkit-scrollbar-thumb
    background: rgba(145, 145, 145, 0.2)
    border-radius: 8px
    border-radius: 3px solid rgba(145, 145, 145, 0.2)

*
    color: $black

body
    background-color: #F7F8FA

.button
    font-weight: 700
    border-radius: 10px
    border: 1px solid $lh-bl
    background: #FFF
    transition: 0.3s
    color: $lh-bl
    &:hover
        transform: translateY(4px)

.button-blue
    font-weight: 700
    border-radius: 10px
    transition: 0.3s
    background: $lh-bl
    border: 0
    color: #fff
    width: 100%
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25)
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25)
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25)
    &:hover
        transform: translateY(4px)

.sec-title
    font-size: 48px
    font-weight: 900

section
    width: 100%
    max-width: 90vw

.title-line
    background: $lh-bl
    width: 50px
    margin: 20px auto 0
    height: 3px

.sec-desc
    color: rgba(0, 0, 34, 0.35)
    font-size: 18px
    max-width: 1000px
    text-align: center
    margin: 30px auto 0
    span
        color: rgba(0, 0, 34, 0.75)

.app
    display: grid
    grid-template-columns: 260px 1fr
    background: #F7F8FA

.nav-menu-open
    grid-template-columns: 260px 1fr

.nav-menu-close
    grid-template-columns: 100px 1fr

.nav-menu-hidden
    grid-template-columns: 1fr

.app-wrapper
    width: 100%
    background: #F7F8FA

.app-page
    padding: 36px 30px 0
    width: 100%