.kanban
    display: grid
    gap: 24px
    grid-template-columns: 1fr 1fr 1fr 1fr

.list
    display: flex
    flex-direction: column
    gap: 24px

.empty
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    padding-top: 100px

.text
    font-size: 30px
    font-weight: 700

.subtext
    font-size: 16px
    font-weight: 300
    margin-top: 12px
    opacity: 0.7

.btn
    padding: 12px 30px
    color: #fff
    background-color: #2563EB
    border-radius: 8px
    width: 100%
    max-width: 300px
    margin-top: 30px
