@import '@variables'
    
.navigation
    display: grid
    align-items: center
    grid-template-columns: max-content 1fr max-content
    padding: 0 30px
    max-width: 100%
    width: 100%
    height: var(--navigation-height)
    margin-top: var(--navigation-top-margin)

.nav
    display: flex
    align-items: center
    justify-content: center
    gap: 24px

.link
    color: #98A2B2
    font-size: 12px
    font-weight: 700
    line-height: 20px
    padding: 8px 0
    &:hover
        color: $bl
        border-bottom: 1px solid $bl
    &.active
        color: $bl
        border-bottom: 1px solid $bl

.filter
    display: flex
    align-items: center
    justify-content: space-between
    gap: 30px
    margin-top: var(--filter-margin)
    padding: 0 30px
    max-width: 100%
    width: 100%
    height: var(--filter-height)

.views
    display: flex
    align-items: center
    button
        display: flex
        align-items: center
        gap: 8px
        border: 1px solid #EBEEF2
        background: #fff
        padding: 8px 16px
        white-space: nowrap
        &:first-child
            border-radius: 8px 0px 0px 8px
        &:last-child
            border-radius: 0px 8px 8px 0px
        &.active
            background: #FAFBFC

.btns
    display: flex
    align-items: center
    gap: 8px
    button
        border-radius: 8px
        border: 1px solid #EBEEF2
        background: #FFF
        box-shadow: 0px 1px 3px 0px rgba(96, 108, 128, 0.05)
        display: flex
        align-items: center
        justify-content: center
        width: 40px
        height: 40px
        img
            width: 24px
            height: 24px
