@import '@variables'
    
.header
    display: flex
    align-items: center
    justify-content: space-between
    // grid-template-columns: 1fr max-content max-content
    padding: 0 30px
    width: 100%
    gap: 48px
    height: var(--header-height)
    border-bottom: 1px solid #E9EBF0

.nav
    display: flex
    align-items: center
    gap: 32px
    width: 100%

.link
    color: #7A8699
    font-size: 12px
    font-weight: 700
    line-height: 16px
    &:hover, &.active
        color: #323C4D

.personal
    display: flex
    align-items: center
    gap: 12px
    position: relative

.user
    display: flex
    align-items: center
    gap: 10px
    position: relative
    cursor: pointer

.user_block
    position: absolute
    right: 0
    top: calc(100% + 12px)
    width: max-content
    border-radius: 10px
    background: #FFF
    box-shadow: 1px 4px 10px 0px rgba(170, 178, 200, 0.45)
    padding: 16px 6px
    display: flex
    flex-direction: column
    gap: 12px
    z-index: 6
    a, button
        display: flex
        align-items: center
        gap: 10px
        transition: 0.3s
        border-radius: 4px
        padding: 6px 10px
        &:hover
            background: #f4f4f4
